# Logs
logs
*.log
npm-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Output of 'vsce publish
build/Release

# Dependency directories
node_modules/

# Output of 'vsce package'
*.vsix

# dotenv environment variables file
.env
.env.test

# Generate output
dist
