# Logs
logs
*.log
npm-debug.log*

# Cache of theme references (https://code.visualstudio.com/api/references/theme-color)
references-[aA-zZ]*.cache.json

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Exclude releases and the output of 'vsce package'
themes/release
*.vsix

# Dependency directories
node_modules/

# dotenv environment variables file
.env
.env.test

# Exclude theme dist files
*color-theme.json
